body {
  background-color: grey;
  text-align: center;
}
.quiz-results h3,
.quiz-results h4,
.quiz-results h6 {
margin: 40px 0;
 }
 /* Card style */
 body {
  background-color: #d3d3d3;
  font-family: Arial, sans-serif;
}

.card {
  background: white;
  width: 320px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.question-card {
 display: none;
}

.question-card.active {
 display: block; /* Only the card with the 'active' class will show */
}

Sent from my iPhone

.options {
  text-align: left;
  margin-top: 10px;
}

.submit-btn{
  background-color: blue;
  padding: 10px;
  color: white;
  border-radius: 10px;
}